* {
    box-sizing: border-box;
}

.header {
    background-color: lightslategray;
    text-align: center;
    padding: 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 180px;
    height: 180px;
}

.navigation {
    padding-bottom: 15px;
}

.mainFont {
    font-size: 15px;
    font-family: Arial;
    }

.hoursFont {
font-size: 26px;
font-family: Arial;
text-align: center;
}

.hyperlink:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
.hyperlink:visited {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}
.hyperlink:hover {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: underline;
}

.row {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.row2 {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.columnMain {
    width: 31%;
    margin: 10px 5px;
    padding: 10px;
    padding-bottom: 15px;
    background-color: lightslategray;
    box-shadow: 5px 5px 5px 3px #7a7a7aa5;
    text-align: center;
    word-wrap: break-word;
    min-width: 280px
}

.columnMenu {
    width: 31%;
    margin: 10px 5px; 
    padding: 10px;
    padding-bottom: 15px;
    background-color: lightslategray;
    box-shadow: 5px 5px 5px 3px #7a7a7aa5;
    text-align: center;
    word-wrap: break-word;
    min-width: 280px
}

.coloumnMenu #h4 {
    font-weight: bold;
}

    .pictureMain {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;
    min-width: 200px;
    width: 95%;
    height: 95%;
    }

    .pictureMenu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;
    min-width: 200px;
    width: 95%;
    height: 95%;
    }

.contactUsMain {
    width: 45%;
    margin: 10px 5px; 
    padding: 10px;
    padding-bottom: 15px;
    background-color: lightslategray;
    box-shadow: 5px 5px 5px 3px #7a7a7aa5;
    text-align: center;
    word-wrap: break-word;    
}

.contactUsMap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 95%;
    height: 400px;
}

.hoursList {
    text-align: center;
    list-style-position: inside;
}

.hoursMain {
    width: 45%;
    margin: 10px 5px;
    padding: 10px;
    padding-bottom: 15px;
    background-color: lightslategray;
    box-shadow: 5px 5px 5px 3px #7a7a7aa5;
    word-wrap: break-word;   
}

.reservationsMain {
    width: 640px;
    margin: 10px 5px; 
    padding: 10px;
    padding-bottom: 15px;
    background-color: lightslategray;
    box-shadow: 5px 5px 5px 3px #7a7a7aa5;
    align-items: center;
}

.reservationFrame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px; 
    height: 1867px; 
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0px;
    }

    .row2 {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0px;
    }

    .columnMain {
        width: 100%;
        margin: 1px; 
    }

    .columnMenu {
        width: 100%;
        margin: 1px; 
    }

    .contactUsMain {
        width: 100%;
        margin: 1px; 
    }
    .navigation {
        padding-bottom: 0px;
    }

    .hoursMain {
        width: 100%;
        margin: 1px; 
    }

    .reservationsMain{
        width: 100%;
        margin: 1px; 
    }

    .reservationFrame {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 400px; 
        height: 1867px; 
    }

    .pictureMain {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 150px;
        min-width: 150px;

        }
    
        .pictureMenuMobile {
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
}

.login{
    text-align: end;
}

.footer {
    background-color: lightslategray;
    text-align: center;
    padding: 10px;
}